<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Crop Production</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js"
        integrity="sha512-QSkVNOCYLtj73J4hbmVoOV6KVZuMluZlioC+trLpewV8qMjsWqlIQvkn1KGX2StWvPMdWGBqim1xlC8krl1EKQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/style.css">    
</head>

<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
    
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active" style="font-size: x-large;">
                        <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item" style="font-size: x-large;">
                        <a class="nav-link" href="/cropdata/api">Crop Data API</a>
                    </li>
                    </li>
                </ul>
            </div>
        </nav>
        </nav>
    </div><br>

    <div class="container">
        <div class="jumbotron">
            <h1 class="display-4">Crop Production</h1>
            <p class="lead">a look at the last 42 years</p>
            <hr class="my-4">
            <p>we have gather data for the the US production of crops in the last 42 years, while the us produces many
                types of crops we have focused on the top 9</p>
            <a class="btn btn-primary btn-lg" href="/Dashboard" role="button">See our crop Dashboard</a>
        </div>
    </div>

    <div class="container">
        <h3>YoY trend for total monetary value of crops produced in the US (top 8 crops)</h3>
            <div class="col-10" id="plotval"></div>
            <script src="static/js/plotvalue.js"></script>
        </div>
    </div>

    <div class="container">
        <h3>YoY trend for total volume produced in the US (top 8 crops)</h3>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-10" id="plotvol"></div>
            <script src="static/js/plotvolume.js"></script>
        </div>
    </div>

</body>

</html>